<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Modal title</h5>
      <button class="btn-close" type="button" data-coreui-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <p>Woohoo, you're reading this text in a modal!</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" data-coreui-dismiss="modal">Close</button>
      <button class="btn btn-primary" type="button">Save changes</button>
    </div>
  </div>
</div>
